#content {
    max-width: 1600px;
    margin: 0 auto;
    background: rgb(6, 172, 238);
}

/* Fixing nav hover state */
nav a {
    text-align: center;
    color: #00e5ff;
    text-decoration: none;
}

nav a:hover {
    background-color: rgb(0, 0, 0);
    color: #00e5ff;
}

#background {
    height: 725px;
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
}

/* Background colors */
body {
    background-color: rgb(128, 208, 248);
}

header {
    background-color: rgb(128, 208, 248);
}

.book, .join {
    background-color: rgb(128, 208, 248);
    text-decoration: none;
}

.book:hover, .join:hover {
    background-color: rgba(0, 128, 128, 0.7); /* More distinct hover effect */
}

footer {
    background-color: rgb(128, 208, 248);
}

.msg h2 {
    color: #00e5ff;
}

.msg p {
    color: #00e5ff;
}

footer a {
    color: #0073ff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

footer p {
    font-size: 1.2em;
}

/* Icon and hero image widths */
.icon {
    width: 80px;
}

#hero-img {
    width: 100%; /* Full width for the hero image */
}
